:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.sidebar {
    height: 100%;
    width: 250px;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--green);

    padding: 1rem 2rem 1rem 1rem;
}

.sidebar .logo_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar .logo_content a {
    display: flex;
    align-items: center;
}

.sidebar .nav {
    margin-top: 2rem;
}

.nav_list li {
    width: 100%;

    position: relative;

    list-style: none;

    transition: all 0.4s ease;

    border-radius: 10px;
}

.nav_list li + li:hover {
    background-color: var(--light-green);
}

.nav_list li a {
    display: flex;
    align-items: center;
    text-decoration: none;

    color: var(--text-color);

    padding: .4rem .6rem;
}

.nav_list li + li {
    margin-top: 1.5rem;
}

.nav_list li a img {
    height: 1.5rem;
}

.nav_list li span {
    margin-left: 1rem;
    font-weight: 500;
}

.nav_list .search_input {
    display: flex;
    align-items: center;

    padding: .8rem .5rem;

    background-color: var(--light-green);
}

.nav_list .search_input:hover {
    background-color: #b6fced;
}

.nav_list .search_input input {
    width: 100%;

    background: none;
    border: none;
    outline: none;

    margin-left: 1rem;

    font-size: 1rem;

    color: var(--text-color);
}

.profile_content {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: .5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    width: 100%;
}

.profile_content .profile_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;

    color: var(--text-color);
}

.profile_details .vet_name {
    font-size: 17px;
}

.profile_details .vet_job {
    font-size: 14px;
}

.profile_content .profile_img img {
    width: 55px;
    height: 50px;

    align-self: center;

    border-radius: 10px;
}

.div_logout {
    display: flex;
    align-items: center;

    margin-right: 1rem;
    margin-left: 1rem;
}