:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.div_content {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    padding: 2rem;
}

.div_content h1 {
    color: var(--purple);

    margin-bottom: 2rem;
    margin-left: -2.5rem;
}

.div_countdown {
    display: flex;

    padding: .5rem;
    font-size: 2.5rem;

    position: relative;
}

.div_countdown div {
    width: 6rem;
    height: 4rem;

    display: flex;
    justify-content: center;

    color: var(--black);

    font-weight: 500;
    font-size: 3rem;
}

.div_content div::after {
    content: attr(data-content);
    font-size: 1rem;
    color: var(--light-grey);
    position: absolute;
    top: -1rem;
}

.div_content p {
    color: var(--text-color);
    padding: 1rem;
    font-size: .8rem;
}

#button_inscription {
    width: 10rem;

    padding: .5rem 2rem;

    background-color: var(--purple);
    color: white;

    border-radius: 7px;
    border: none;

    transition: all 0.5s ease;
}

#button_inscription:hover {
    background-color: #4e48ca;
}

.div_rocket {
    width: 90%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top_wave {
    position: absolute;
    top: -3rem;
    z-index: -1;
}

.bottom_wave {
    position: absolute;
    bottom: -5rem;
}